@import "tailwindcss";

/*** GOOGLE FONTS ******/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

/***** TAILWINDCSS THEME CUSTOM ******/
@theme {
  --color-primary-700: #fc532e;
  --color-primary-300: #d2998c;
  --color-secondary: #f5f5f5; /* background */
  --font-sans: 'Nunito', system-ui, sans-serif;

}

/***** CSS RESET BASE ******/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 /** remove browser bar */

body::-webkit-scrollbar {
    display: none;
}
/* hack for Chrome/Safari/Opera */
html::-webkit-scrollbar { width: 0px; } 

/***** TAILWINDCSS UTILITIES CUSTOM ******/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}